@model Final10._14.Models.TStockInStock

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TStockInStock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FLeftStock" class="control-label"></label>
                <input asp-for="FLeftStock" class="form-control" />
                <span asp-validation-for="FLeftStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FStockAdj" class="control-label"></label>
                <input asp-for="FStockAdj" class="form-control" />
                <span asp-validation-for="FStockAdj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FStockNow" class="control-label"></label>
                <input asp-for="FStockNow" class="form-control" />
                <span asp-validation-for="FStockNow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FStockTran" class="control-label"></label>
                <input asp-for="FStockTran" class="form-control" />
                <span asp-validation-for="FStockTran" class="text-danger"></span>
            </div>
                       <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="StockList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
