@model Final10._14.Models.TProduct

@{
    ViewData["Title"] = "Create";
}

<h1>新增</h1>

<h4>商品</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FProductCategoryId" class="control-label">商品分類</label>
                <select asp-for="FProductCategoryId" class="form-control">
                    <option value="1">助人</option>
                    <option value="2">動物</option>
                    <option value="3">環境</option>
                    <option value="4">其他</option>
                </select>
                <span asp-validation-for="FProductCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FSponsorId" class="control-label">贊助商</label>

                <select asp-for="FSponsorId" class="form-control">
                    <option value="1">佛手救甘心慈善團體</option>
                    <option value="2">狗狗救難團</option>
                    <option value="3">攜老扶幼大隊</option>
                    <option value="4">淨灘團</option>
                    <option value="5">維尼練習法扶輪社</option>
                </select>
                <span asp-validation-for="FSponsorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FProductName" class="control-label">產品名稱</label>
                <input asp-for="FProductName" class="form-control" />
                <span asp-validation-for="FProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FDescription" class="control-label">描述</label>
                <input asp-for="FDescription" class="form-control" />
                <span asp-validation-for="FDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FSales" class="control-label">銷量</label>
                <input asp-for="FSales" class="form-control" />
                <span asp-validation-for="FSales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FStock" class="control-label">庫存</label>
                <input asp-for="FStock" class="form-control" />
                <span asp-validation-for="FStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FUnitlHelpPoint" class="control-label">所需點數</label>
                <input asp-for="FUnitlHelpPoint" class="form-control" />
                <span asp-validation-for="FUnitlHelpPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FStatus" class="control-label">狀態</label>

                <select asp-for="FStatus" class="form-control">
                    <option value="1">販售中</option>
                    <option value="2">缺貨</option>
                </select>
                <span asp-validation-for="FStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回列表</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
